@import "default.css";

header,
.cards-wrapper {
  padding: 2.5rem 0;
  @media (min-width: 60em) {
    header,
    .cards-wrapper {
      padding: 100rem 0;
    }
  }
}

/* ==== LAYOUT STYLING ==== */

@media (min-width: 60em){
  body{
    height: 100vh;
  }
  header{
    min-height: 30vh;
    margin-top: auto;
  }
  header h1{
    padding-top: 5rem;
  }
  .cards-wrapper{
    min-height: 67vh;
  }
  footer{
    min-height: 3vh;
  }
}

header{
  text-align: center;
}

header h2{
  padding: 1.5rem 0;
}

header p{
  display: inline-block;
  max-width: 55ch;
}

/* ==== CARD LAYOUT ==== */

/* mobile and tablet */
.cards-wrapper{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

/* desktop */
@media (min-width: 60em){
  .cards-wrapper{
    grid-template-rows: repeat(4, 10rem);
    grid-template-areas:
      '........ team-builder ..........'
      'superior team-builder calculator'
      'superior karma calculator'
      '........ karma ........';
  }

  .card-superior{
    grid-area: superior;
  }

  .card-team-builder{
    grid-area: team-builder;
  }

  .card-karma{
    grid-area: karma;
  }

  .card-calculator{
    grid-area: calculator;
  }
}

/* ==== CARD STYLING ==== */

.card{
  padding: 1.75rem 2.5rem;
  background: hsl(0, 0%, 100%);
  border-radius: 0.75rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1),
              0 3px 6px 0 rgba(69, 211, 211, 0.05);
}

.card p{
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}

.border-top-red{
  border-top: 0.5rem solid var(--clr-red);
}

.border-top-cyan{
  border-top: 0.5rem solid var(--clr-cyan);
}

.border-top-orange{
  border-top: 0.5rem solid var(--clr-orange);
}

.border-top-blue{
  border-top: 0.5rem solid var(--clr-blue);
}

figure{
  text-align: end;
}

/* ==== FOOTER STYLING ==== */


footer{
  text-align: center;
}
